/* GENERAL */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	margin: auto;
 	scroll-behavior: smooth;
}

body {
	margin: auto;
}

h1, h2, h3, h4 {
	text-align: center;
}

a {
	text-decoration: none;
}

.pageTitle {
	font-size: 60px;
}

/* HEADER */

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

nav a {
	font-size: 2.5em;
	background-color: lightcyan;
	padding: 10px;
}

h1 {
	color: green;
	font-size: 80px;
}

#titleH2 {
	color: blue;
	font-size: 40px;
}

#titleH3 {
	color: blue;
	font-size: 25px;
}

/* MAIN */

img {
	width: 600px;
}

main div div {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

main h2, #index h3 {
	font-size: 40px;
	text-transform: uppercase;
}

p { 
	margin: 40px;
}

	/* MAIN #photos */

#before, #next {
	background-color: #a9a9a9;
	color : #fff;
	margin: 10px;
}

#sliderContainer {
	margin-bottom: 0;
}

#imagesOfSlider {
	max-width: 700px;
	max-height: 700px;
	width: auto;
	height: auto;
}

#before, #next {
	background-color: darkcyan;
	border-color: darkblue;
}

#before:hover, #next:hover {
	background-color: #000;
}

#buttonSlider div, h4 {
	margin: auto;
	text-align: center;
}

h4 {
	margin-top: 0;
}
/* FOOTER */

footer {
	text-align: center;
	margin-top: 50px;
}